<a href="https://colab.research.google.com/github/DmitryParshin1/1.10.2022/blob/master/AB_Seminar_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

In [13]:
df = pd.read_csv('a_b test ecom - ab_test 2.csv')
df.head()

       id     time  con_treat      page  converted
0  851104  11:48.6    control  old_page          0
1  804228  01:45.2    control  old_page          0
2  661590  55:06.2  treatment  new_page          0
3  853541  28:03.1  treatment  new_page          0
4  864975  52:26.2    control  old_page          1

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294478 entries, 0 to 294477
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         294478 non-null  int64
 1   time       294478 non-null  object
 2   con_treat  294478 non-null  object
 3   page       294478 non-null  object
 4   converted  294478 non-null  int64
dtypes: int64(2), object(3)
memory usage: 11.2+ MB

In [15]:
df.describe()

                  id      converted
count  294478.000000  294478.000000
mean   787974.124733       0.119659
std     91210.823776       0.324563
min    630000.000000       0.000000
25%    709032.250000       0.000000
50%    787933.500000       0.000000
75%    866911.750000       0.000000
max    945999.000000       1.000000

In [16]:
df.con_treat.value_counts()

treatment    147276
control      147202
Name: con_treat, dtype: int64

In [17]:
df.page.value_counts()

old_page    147239
new_page    147239
Name: page, dtype: int64

In [18]:
df.id.nunique()

290584

In [19]:
df.shape[0]

294478

In [21]:
df = df.query('(con_treat == "control" and page == "old_page") or (con_treat == "treatment" and page == "new_page")')
df

            id     time  con_treat      page  converted
0       851104  11:48.6    control  old_page          0
1       804228  01:45.2    control  old_page          0
2       661590  55:06.2  treatment  new_page          0
3       853541  28:03.1  treatment  new_page          0
4       864975  52:26.2    control  old_page          1
...        ...      ...        ...       ...        ...
294473  751197  28:38.6    control  old_page          0
294474  945152  51:57.1    control  old_page          0
294475  734608  45:03.4    control  old_page          0
294476  697314  20:29.0    control  old_page          0
294477  715931  40:24.5  treatment  new_page          0

[290585 rows x 5 columns]

In [22]:
n1 = df.query('con_treat == "control"').shape[0]-1
n2 = df.query('con_treat == "treatment"').shape[0]-1
n1,n2

(145273, 145310)

In [23]:
k1 = df.query('con_treat == "control"').converted.sum()
k2 = df.query('con_treat == "treatment"').converted.sum()
k1,k2

(17489, 17264)

In [24]:
from statsmodels.stats import proportion
import numpy as np
z_score, z_pvalue = proportion.proportions_ztest(np.array([k1, k2]),
                                                   np.array([n1, n2]))
print('Results are ','z_score =%.3f, pvalue = %.3f'%(z_score, z_pvalue))

Results are  z_score =1.312, pvalue = 0.190

In [25]:
from statsmodels.stats import proportion
import numpy as np
proportion.proportions_chisquare(np.array([k1, k2]),
                                                   np.array([n1, n2]))

(1.7203163882100383,
 0.189652323949578,
 (array([[ 17489., 127784.],
         [ 17264., 128046.]]),
  array([[ 17374.28744627, 127898.71255373],
         [ 17378.71255373, 127931.28744627]])))