<a href="https://colab.research.google.com/github/DmitryParshin1/1.10.2022/blob/master/HomeWork2_Jupyter%20Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Условие 1:<br>
Оформляйте ноутбук, используя эти советы:<br>
Номер задачи - заголовок 2<br>
Номер подзадачи - заголовок 3<br><br>
Предоставленные наборы данных оформляйте, как код<br>
Рекомендации для преподавателей по оценке задания:<br>
Смотреть, чтобы студент красиво оформлял ноутбук, использовал ячейки с текстом, указывал номера заданий

## Условие 2:<br>
На складе лежат разные фрукты в разном количестве.<br>
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [2]:
def fruit(**kwargs):
    sum_fruit = sum(kwargs.values())
    return f'Общее колчество фруктов: {sum_fruit}'

In [3]:
fruit(banan = 5, apple = 9)

'Общее колчество фруктов: 14'

## Условие 3:
Дан список с затратами на рекламу. <br>Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. <br>Удалите такие значения из списка и посчитайте суммарные затраты<br>
[100, 125, -90, 345, 655, -1, 0, 200]<br>
Используйте list comprehensions

In [7]:
Expenses = [100, 125, -90, 345, 655, -1, 0, 200]

price = []

for i in Expenses:
  if i > 0:
    price.append(i)
  else: 
    price.append(0)

sum_prise = sum(price)
sum_prise

1425

list comprehensions

In [11]:
Expenses = [100, 125, -90, 345, 655, -1, 0, 200]
price = [i if i > 0 else 0 for i in Expenses]
sum_prise = sum(price)
f'общее количество затрат: {sum_prise}'

'общее количество затрат: 1425'

## Условие 4.1:<br>
Даны два списка.<br>
Дата покупки<br>
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',<br> '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',<br> '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',<br> '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',<br> '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',<br> '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']<br>

Суммы покупок по датам<br>

[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре<br>
Используйте list comprehensions<br>

In [36]:
data = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',
'2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',
'2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
'2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
'2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',
'2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

gain = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 
        7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [51]:
def november(data: list, gain: list) -> list:
  new_data = []
  for i in range(len(data)):
    if '-11-' in data[i]:
      new_data.append(gain[i])

  return new_data

In [77]:
print(november(data, gain))
print(f'выручка у компании в ноябре: {sum(november(data, gain))}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]

TypeError: ignored

In [63]:
print([gain[i] for i in range(len(data)) if '-11-' in data[i]])
print(f'выручка у компании в ноябре: {sum([gain[i] for i in range(len(data)) if "-11-" in data[i]])}')

[4944, 3701, 7037, 4274, 2004, 2822, 316]

TypeError: ignored

### 4.2 Найдите выручку компании в зависимости от месяца<br>
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой,<br> а на выходе словарь, где ключи - это месяцы, а значения - это выручка.<br>
Используйте аннотирование типов.

In [80]:
def profit(data: list, gain: list) -> dict:
  profit = {}

  for i in range(len(data)):
    if data[i].split('-')[1] in profit.keys():
      profit[data[i].split('-')[1]] += gain[i]
    else:
      profit[data[i].split('-')[1]] = gain[i]
  return profit

print(profit(data, gain))

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}